@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-blue: #00529B;
	--primary-green: #679F43;
}

html, body, #root {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f8fafc; /* bg-slate-50 */
}
